
body {
  font: 11px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #000;
}

.tooltip {
  position: absolute;
  padding:4px;
  border-radius: 4px;
  /*width: 200px;*/
  height: 28px;
  background-color: #eee;
  pointer-events: none;
}
